@import url('../../constants/constants.css');

.PhotoUpload {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    cursor: pointer;
    max-width: 250px;
    position: relative;
    background: linear-gradient(120deg, var(--color1), var(--color2));
}

.PhotoUpload .PhotoUpload-Inner {
    border-radius: 50%;
    width: 97%;
    height: 97%;
    background: white;
    color: white;
}

.PhotoUpload input {
    display: none;
}

.PhotoUpload img {
    width: 100%;
    border-radius: 50%;
}

.img-upload:before{
    content: "\f093";
    font-size: 90px;
    position: absolute;
    padding-top: 53px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: var(--color3);
    width: 97%;
    height: 97%;
    border-radius: 50%;
    opacity: 0;
    transition: .5s ease;
    background-color: #fff;
}

.img-upload:hover:before{
   opacity: 1;
 }

 .photoErr{
     color: red;
     display: flex;
     justify-content: center;
 }