.Register header{
    height: 50px;
    /* background-color: yellow; */
    box-shadow:  0 3px 15px 7px black ;
    z-index: 10;
    position: relative;
}
.Register .banner{
    background: url('https://i.pinimg.com/736x/65/f9/c9/65f9c9cab49ace21f7f412beb32356fc.jpg');
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
}
.Register .banner-down{
    background-color: rgba(175, 174, 174, 0.329);
    height: 500px;
    z-index: 1;
}
.Register .content{
    position: absolute;
    top: 20%;
    right: 10% ;
    width: 80%;
    z-index: 2;
}
.Register .content-head{
    color: white;
}
.Register .content-body{
    width: 100%;
    background-color: white;
    min-height: 500px;
    padding: 50px;
}