.PhotoUpload{
    border-radius: 50%;
    width: 200px;
    height: 200px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border: 3px solid #ab653a;
    cursor: pointer;
}
.PhotoUpload input{
    display: none;
}
.PhotoUpload img{
    width: 100%;
    border-radius: 50%;
    width: 200px;
}
.PhotoUpload:hover .hoverText{
    display: flex;
    visibility: visible;
    /* transform: translateY(-10px); */
    height: 80%;
    /* background: url('https://cdn.pixabay.com/photo/2016/01/03/00/43/upload-1118929_1280.png'); */
}
.PhotoUpload svg{
    height: 70px;
    width: 70px;
    color: #d9480e;
}
.PhotoUpload .hoverText{
    transition: height 0.5s ease-in-out;
    /* background-color: #d755216b; */
    background-image: linear-gradient(360deg, #ab653a, transparent);
    width: 100%;
    height: 30%;
    /* margin-top: 33%; */
    border-radius: 0 0 150px 150px ;
    /* position: absolute; */
    align-items: center;
    justify-content: center;
    /* display: none; */
    margin-top: auto;
    visibility: hidden;
}

.PhotoUpload .hoverText h5{
    position: relative;
    top: 20px;
    color: #fff;
}
