.PhotoUpload{
    border-radius: 50%;
    width: 200px;
    height: 200px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border: 3px solid #ab653a;
    cursor: pointer;
}
.PhotoUpload input{
    display: none;
}
.PhotoUpload img{
    width: 100%;
    border-radius: 50%;
    width: 200px;
}
.PhotoUpload:hover .hoverText{
    display: flex;
    /* background: url('https://cdn.pixabay.com/photo/2016/01/03/00/43/upload-1118929_1280.png'); */

}
.PhotoUpload svg{
    height: 70px;
    width: 70px;
    color: #d9480e;
    transition: 0.3s;
}
.PhotoUpload .hoverText{
    background-color: #d755216b;
    width: 100%;
    height: 50%;
    margin-top: 50%;
    border-radius: 0 0 150px 150px ;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
}

.PhotoUpload .hoverText h5{
    position: relative;
    top: -10px;
    color: #d9480e;
}
