.PageHead {
    width: fit-content;
    h1 {
        font-family: 'Oleo-Bold';
        text-shadow: -1px -1px 0 var(--color4), 1px -1px 0 var(--color4), -1px 1px 0 var(--color4), 1px 1px 0 var(--color4);
        color: var(--color6);
        margin-bottom: 0%;
    }
}