@font-face {
    font-family: 'brotofont';
    src: url(../../assets/fonts/ProgressPersonalUse-EaJdz.ttf) format('truetype');
}
.logobase{
    width: 300px;
    color: white;
}
.head{
    font-family: 'brotofont';
    position: relative;
}
.head h2{
    font-size: 30pt;
    margin:0;
}
/* .bro{
    color: #6da4f2;
} */
.tag{
    position: relative;
    top: -10px;
    left: -1px;
    font-family:monospace;
    font-size: 10pt;
    font-weight: bold;
    transform: scaleX(1.7);
    width: 100%;
}
.tag p{
    font-stretch: expanded;
}
.bgBlock{
    background-color: white;
    height: 40px;
    width: 50px;
    display: inline-block;
    z-index: 0;
    position: absolute;
}

