:root{
    --color1 : #52c5cf;
    --color2 : #79f1a4;
    --color3 : #63d3a6;

    --color4 : #640564;
    --color5 : white;
    --color6 : rgb(219, 219, 219);
    --color7 : grey;
    --color8 : orange;
}