.frame{
    width: fit-content;
    padding: 2rem;
    h3{
        display: inline;
        font-size: 4rem;
    }
    h5{
        display: inline;
        margin-left: 1rem;
        font-size: 3rem;
    }
}