.ScheduledWrkshp {
    height: 100%;

    .display{
        height: 230px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .empty_display{
        height: inherit;
        img{
            margin-left: auto;
            margin-right: auto;
            height: 70%;
        }
        h6{
            margin-top: 50px;
            text-align: center;
        }
    }

    .DateCards {
        display: flex;
        justify-content: center;

        i {
            font-size: 2.5rem;
            // color: white;
            // background-color: white;
            // opacity: .3; 
            height: fit-content;
            position: relative;
            top: 70px;
            padding: 5px;

            box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);
            border-radius: 5px;
            background-color: rgba(255, 255, 255, .15);
            backdrop-filter: blur(5px);

            &:nth-child(1) {
                left: -250px;
            }

            &:nth-child(5) {
                right: -250px;
            }

            &:active{
                border: 1px solid var(--color6);
            }
            &:hover{
                background-color: black;
                color: white;
            }
        }

    }

    .line {
        position: relative;
    }

    .line-one {
        bottom: -133px;
    }

    .line-two {
        bottom: -110px;
    }

    .column {
        display: flex;

        .HexaOptions {
            p {
                transform: rotate(-90deg);
                color: white;
                width: 78px;
                margin-bottom: 0%;
                text-align: center;
                position: relative;
                bottom: -7px;
            }
        }

    }

    .col-one {
        justify-content: space-around;
        padding-right: 21%;
        padding-left: 21%;

    }

    .col-two {
        justify-content: space-between;
        padding-right: 17%;
        padding-left: 17%;
    }
}